<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet">
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <header class="header container d-flex justify-content-between">
    <h1>
      <a href="index.html">香水電商</a>
    </h1>
    <ul class="d-flex d-block align-items-center mb-0">
      <li><a href="product.html" class="text-secondary d-md-block pr-4 d-none">
        <span class="material-icons">store</span>
        <span>Product</span>
        </a></li>
      <li><a href="#" class="text-secondary pr-4 d-md-block d-none">
        <span class="material-icons">person</span>
        <span>log in</span>
      </a></li>
      <li><a href="#" class="text-secondary pr-4 d-md-block d-none">
        <span class="material-icons">favorite</span>
        <span>Wishlist</span>
      </a></li>
      <li><a href="#" class="text-secondary pr-md-4 pr-0">
        <span class="material-icons d-inline">shopping_cart</span>
        <span class="d-none d-md-inline">Cart(3)</span>
      </a></li>
    </ul>
    <nav class="navbar navbar-expand-lg navbar-light bg-white d-block d-md-none">
      <button class="navbar-toggler d-block d-md-none" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
  </header>

  <%- contents %>

  <footer class="footer">
    <div class="container-fluid footer-banner px-0">
      <div class="container">
        <div class="row no-gutters">
          <div class="col-12 col-md-4">
            <h2 class="text-secondary mb-3">記得 <br> 訂閱以獲取更多資訊！ </h2>
            <div class="input-group mb-3 input-group-lg">
              <input type="text" class="form-control" placeholder="Your email address" aria-label="Your email address" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary btn-primary text-white" type="button">Subscribe</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid bg-primary px-0">
      <div class="container d-flex mb-0 justify-content-between align-items-center">
        <div class="logo-footer d-flex align-items-center">
        <h1 calss="mb-0">
          <a href="index.html">香水電商</a>
        </h1>
        <p class="mb-0 text-white">© 2020. All Rights Reserved.</p>
      </div>
        <ul class="d-flex mb-0 d-none d-md-block">
          <li class="d-none d-md-block"><a href="product.html" class="text-white pr-4">Product</a></li>
          <li class="d-none d-md-block"><a href="#" class="text-white pr-4">Blog</a></li>
          <li class="d-none d-md-block"><a href="#" class="text-white">Contact</a></li>
        </ul>
      </div>
    </div>
    </div>
  </footer>
</body>

</html>
